In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.model_selection import train_test_split
from sklearn import linear_model

import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.stats.diagnostic import het_white

from scipy import stats

In [21]:
df = pd.read_json("df.json")

In [22]:
df.head()

,airline,number_of_changes,origin_city_code,destination_country_code,search_weekday,depart_weekday,diff_days,distance,price,number_of_changes_category,airline_category,destination_category
0,Turkish Airlines,2,MOW,TR,5,3,12,1608.63,24159,2,Turkish Airlines,tourism
1,S7 Airlines,1,MOW,RU,5,1,10,3379.79,11160,1,S7 Airlines,domestic
2,Turkish Airlines,2,MOW,TR,5,0,9,2086.37,24260,2,Turkish Airlines,tourism
3,Pobeda,0,MOW,RU,5,0,9,1270.49,4649,0,Pobeda,domestic
4,Aeroflot,1,MOW,RU,5,2,4,7042.45,20435,1,Aeroflot,domestic